
.wanted_info{

    padding:20px;

    background-color: lightblue;

    border-radius: 20px;

    text-align: center;

    }


    .wanted_info strong{

       font-weight: bold;
       font-size: large;

        }


        .wanted_info p{

            font-weight: bold;
           text-transform: capitalize;

             }



    .more-info{

    border:1px solid rgb(177, 175, 175);

    padding: 10px;

    margin-top: 18px;

    }

    .more-info table{

        border-collapse: separate;

        padding: 15px;

        width: 100%;

        margin-top:10px ;

    }


    .more-info h6{

        font-size:18px;
        font-weight:bold;
        color: rgb(10, 10, 105) !important;

    }

    .more-info table tr td:nth-child(1){
     font-weight:bold;

        }



        .more-info table tr td{
            
            font-size:15px;
       
               }



        .images_section ul{

            list-style-type: none;


        }

        .images_section ul li{

            display: inline-block;
            margin-right: 7px;
            margin-bottom: 10px;
            width: 170px;


        }

        .images_section ul li img{

            width: 100%;

            height: 140px;

            object-fit: cover;

        }

        .menu_wanted{
        margin-right: 20px;

        }

        .menu_wanted img{

            width: 210px;

            height: 210px;

            border-radius: 50%;

        }

        .share span{
           
        font-weight: bold !important;
        font-size: 21px !important;

        }

        .share .fa-share-alt{
            font-weight: bold !important;
            font-size: 21px !important;
        }

        .reviews{
         margin-right:18px;
        }
        

        .reviews span{
          font-weight: bold;
          font-size: 15px;

           }


        .reviews #signature{
            width:10px;
            font-size:15px;
            background-color: #c0c0c0;
            border-radius: 50%;
            padding:2px 6px;
    
           }

        #review_heading{

            font-size: 21px !important;
        }
       
        .col-md-8 img{
        width:80%;

        }

        h5{
            font-weight: bold !important;
            font-size:2rem !important;
        }

        .share{

          font-size:2rem;
          font-weight: bold !important;
          color:grey;
        }
       

       
   