
/* Style the body section */
body{

font-family: poppins !important;    

}


/* Style the hero section */
.hero-section {
    background:linear-gradient(to right,rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(/images/packages.jpg);
    background-size: cover;
    background-position:center;
    text-align: center;
}

.hero-section .hero-content {
    max-width: 100% !important; 
}

/* Style the hero content */
.hero-section .hero-content {
    margin: 0 auto;
}

/* Style the h3 text for better readability */
.hero-section .hero-content h3 {
    font-size: 2.5rem !important;
    color: orangered !important;
    
}

.hero-section .hero-content p{
    color: white;
    margin-top: 10px;
   
    font-size: 1.8rem;
}


@media only screen and (max-width: 768px){

    .hero-section .hero-content p{
        color: white;
        margin-top: 10px;
        font-size: 1.2rem;
        margin-left:-10px;
    }


    .hero-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .hero-section .hero-content h3 {
        font-size: 2.0rem !important;
        color: orangered !important;
        margin-left:-10px;
        display: none;
       
        
    }

}



/* ======= PACKAGES SECTION STYLE ===== */
/* Style the package item */
.packages-container {
    margin-top: -170px;
    padding: 20px;
  
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.package-item {
    
    background-color:rgb(212, 210, 210);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 40px;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    width: calc(33.33% - 20px); 
   
}


.package-item h3 {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
    margin-bottom: 10px;
}

.package-item strong {
    font-size: 1.4rem;
    color: black; 
}

.package-item p {
    font-size: 1.3rem;
    color: #666;
    margin-top: 20px;
}

/* Style the checkmark list */
.checkmark-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    text-align: justify;
}

.checkmark-list li{
    margin-bottom: 20px;
    border-bottom: .1px solid rgb(235, 213, 213);
    font-size: 1.6rem;
}

.checkmark-list li::before {
    content: "✔"; 
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    color:white !important;
    border-radius:50%;
    background-color: rgb(3, 148, 3); 
    padding:3px 15px;
}



.txt-package-info p{
    text-align: center;
    font-size: 2.3rem;
}


.package-item p {

font-size:15px;
font-weight: bold;
color:black !important;

}


.package-item button {
    background-color: black !important;
    font-size:18px;
    
    }

.packages-container{
font-weight: bold !important;
}

.packages-container strong {
    font-weight: bold !important;
    font-family:poppins;
    }

.form-control{
    color: white !important;
}


