
/* CSS styles go here */

h3{
font-weight:bold;
font-size:2.5rem;
margin-top:100px;
padding:10px;


}


.container {
   
    margin-top:50px !important;
    display:flex !important; 
    justify-content: space-evenly;
    align-items: center !important;
    gap:20px;
    flex-wrap: wrap;
  
     /* Center-align inline elements */
  }

  .video-container {

    /* Display inline with block properties */
    width: 300px; /* Adjust width of each video container */
    margin-right: 20px; /* Add margin around each video container */
  }

  .video-container iframe {
    width: 100%; /* Make iframe width 100% of its container */
    height: 200px; /* Adjust height of each video */
  }

  

  .persons{

    display: none;
    cursor: pointer;
    position: absolute !important;
    right:32% !important;
    margin-right:40px !important;
    margin-top:-20px !important;
    
    }
    
    .personList{
    position:absolute !important;
    width:190px !important;
    background-color:rgb(6, 6, 71) !important;
    
    }

    .newsletter-container{
    padding:50px 0% !important;
    display: none !important;

    }

    .contact-us{
      padding-top:10% !important;
    }

    @media only screen and (max-width:497px){

        .newsletter-container{
            padding:50px 0%;
        
            }

            .container {

             flex-wrap: wrap; 

            }

    }